@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300;0,5..1200,400;0,5..1200,500;0,5..1200,600;0,5..1200,700;0,5..1200,800;0,5..1200,900;1,5..1200,300;1,5..1200,400;1,5..1200,500;1,5..1200,600;1,5..1200,700;1,5..1200,800;1,5..1200,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&display=swap");

:root {
  --white: #f5f1ed;
  --gray: #909090;
  --black: #1c1c1c;
  --pink: #ff8ff8;
}

* {
  font-family: "Playfair", serif;
  font-family: "Roboto Serif", serif;
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 100rem;
  background-color: var(--black);
  overflow-x: hidden;

  header {
    .skip-to-content-link {
      position: absolute;
      left: 45%;
      right: 45%;
      width: 10%;
      padding: 8px;
      border: 1px solid var(--white);
      border-radius: 0;
      transform: translateY(-150%);
      transition: transform 0.3s;
      text-align: center;
      background-color: var(--black);
    }

    .skip-to-content-link:focus {
      transform: translateY(200%);
    }

    .quote {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      max-width: 28rem;
      margin: 0.5rem 0;
      transform: translateX(-50%);
      text-align: center;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 400;

      p {
        margin: 0;
      }
    }

    .info-small {
      position: absolute;
      left: -9999px;
    }

    nav {
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 100dvh;
      width: 100%;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 50%;

        a {
          transform: translateY(100%);

          h1 {
            margin: 0;
          }
  
          .logo {
            position: relative;
            width: fit-content;
            font-weight: 400;
            font-style: italic;
            font-size: 2rem;
          
            &:before {
              content: "ROUSSEAU";
              position: absolute;
              clip: rect(auto auto 18px auto);
            }
          
            &:after {
              content: "ROUSSEAU";
              position: absolute;
              top: 1px;
              left: 5px;
              clip: rect(18px auto auto auto);
              z-index: -1;
            }
          
            span {
              visibility: hidden;
          
              &:after {
                content: "";
                visibility: visible;
                position: absolute;
                display: block;
                top: 47.5%;
                width: 103%;
                height: 2.2px;
                background-color: var(--pink);
              }
            }
          }
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        height: 45%;
        width: 90%;
        margin: 0;
        padding: 0 5% 5%;
        list-style-type: none;

        li {
          font-size: 1.4rem;
          text-transform: uppercase;

          a {
            text-decoration: none;

            &::before {
              content: "my ";
            }
          }

          a:hover {
            &::before {
              color: var(--pink);
            }
          }

          .active {
            position: relative;
            &::after {
              content: "";
              visibility: visible;
              position: absolute;
              display: block;
              top: 48%;
              width: 110%;
              height: 2px;
              transform: translateX(-5%);
              background-color: var(--pink);
            }
          }
        }
      }
    }
  }

  main {
    a {
      text-decoration-color: #ff8ff8;
    }

    section {
      min-height: calc(100dvh - 2rem);
      padding: 1rem;

      h2 {
        margin: 0.5rem 0 0;
        color: var(--white);
        text-transform: uppercase;
        text-align: end;
        font-weight: 500;
        font-size: 3rem;
      }
    }

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;

      .contact {
        width: 45%;

        h3 {
          margin: 0;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 1.5rem;
        }
      }
    }

    .projects {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        margin: auto 0;
        padding: 0;
        list-style-type: none;
        
        li {
          position: relative;
          text-transform: uppercase;
          a {
            font-size: 3rem;
            font-weight: 600;
          }

          .skill-viewport {
            position: relative;
            height: 1.5rem;
            overflow: hidden;

            .skills {
              position: absolute;
              width: max-content;

              span {
                font-size: 1rem;
                margin-left: .5rem;
              }
            }
          }

          &:nth-child(2n + 1) {
            margin-left: 0;
            margin-right: auto;
          }

          &:nth-child(2n) {
            margin-left: auto;
            margin-right: 0;
          }
        }
      }
    }

    .blog {
      margin-bottom: 75dvh;

      ul {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 1rem;
        padding: 0;
        list-style-type: none;
      }
    }
  }
}

canvas {
  position: fixed;
  height: 100dvh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -9999;
  overflow: hidden;
}

@media screen and (width >= 55rem) {
  body {
    padding: 0 1rem;
    header {
      position: relative;
      height: calc(100dvh - 1rem);
      width: calc(100% - 4rem);
      padding: 0.5rem 2rem;

      .quote {
        font-size: 1rem;
      }

      .info-small {
        left: 2rem;
        bottom: 10rem;

        h2 {
          margin: 0;
          font-size: 2em;
          font-weight: 500;
          text-transform: uppercase;
        }
      }

      nav {
        flex-direction: row;
        justify-content: space-between;
        height: fit-content;

        > div {
          display: block;

          a {
            .logo {
              transform: translateY(0);
            }
          }
        }

        ul {
          padding: 0;
          a {
            font-size: 2.5rem;
          }
        }
      }
    }

    main {
      a {
        text-decoration-color: #ff8ff8;
      }

      section {
        min-height: calc(100dvh - 4rem);
        padding: 2rem;
        font-size: 1.2rem;

        h2 {
          text-align: start;
          font-size: 4rem;
        }
      }

      .intro {
        justify-content: center;
        gap: 5rem;
        padding-right: 10%;

        .about {
          width: 40%;
        }

        .contact {
          width: 25%;

          h3 {
            font-size: 2rem;
          }
        }
      }

      .projects {
        align-items: center;
        gap: 4rem;

        ul {
          gap: 2rem;
          width: 80%;

          li {
            a {
              font-size: 3.5rem;
            }
          }
        }
      }

      .blog {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (width >= 80rem) {
  body {
    main {
      .blog {
        display: flex;
        flex-direction: column;
        align-items: end;

        h2 {
          width: 60%;
        }

        ul {
          width: 60%;
        }
      }
    }
  }
}
